.c-drop-area {
    border: calculateRem(1px) dashed $ibexa-color-dark-300;
    border-radius: $ibexa-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calculateRem(47px);

    &__message {
        color: $ibexa-color-dark;
        margin-bottom: calculateRem(16px);
    }

    &__message--main {
        cursor: auto;
        font-weight: 600;
    }

    &__message--filesize {
        margin: calculateRem(16px) 0 0 0;
        color: $ibexa-color-dark-400;
        font-size: $ibexa-text-font-size-medium;
    }

    &__input--hidden {
        display: none;
    }
}
